<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="{{url_for('app.index')}}">메인페이지 바로가기</a> <br>

    <table>
        <tr>
            <th>name</th>
            <td>{{name}}</td>
        </tr>
        <tr>
            <th>calories</th>
            <td>{{calories}}(kcal)</td>
        </tr>
        <tr>
            <th>sodium</th>
            <td>{{sodium}}(mg)</td>
        </tr>
        <tr>
            <th>carbohydrate</th>
            <td>{{carbohydrate}}(g)</td>
        </tr>
        <tr>
            <th>fat</th>
            <td>{{fat}}(g)</td>
        </tr>
        <tr>
            <th>cholesterol</th>
            <td>{{cholesterol}}(mg)</td>
        </tr>
        <tr>
            <th>protein</th>
            <td>{{protein}}(g)</td>
        </tr>
    </table>
</body>

</html>