<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/home/barcode.css"/>
    <title>yolo image recognition</title>

    <script>
        $(document).ready(function(){
            showFood();
        });

        function showFood() {
            $.ajax({
                type: "GET",
                url: "./static/food.json",
                data: {},
                success: function (response) {
                    let food = response['food']
                    let my_code = "{{my_code}}"
                    console.log(my_code)
                    food.filter(function (obj) {
                        if (obj['barcode'] === my_code) {
                            console.log('있음');
                            let name = food[obj['id']]['name']
                            let weight = food[obj['id']]['weight']
                            let calories = food[obj['id']]['calories']
                            let sodium = food[obj['id']]['sodium']
                            let carbohydrate = food[obj['id']]['carbohydrate']
                            let fat = food[obj['id']]['fat']
                            let cholesterol= food[obj['id']]['cholesterol']
                            let protein = food[obj['id']]['protein']

                            let record_html = `<tr>
                                                    <td style="font-size: 25px; font-weight:bold;">식품명/내용량</td>
                                                    <td style="font-size: 25px; font-weight:bold;">${name}/${weight}g</td>
                                                </tr>
                                                <tr>
                                                    <td>열량(kcal)</td>
                                                    <td>${calories}</td>
                                                </tr>
                                                <tr>
                                                    <td>나트륨(mg)</td>
                                                    <td>${sodium}</td>
                                                </tr>
                                                <tr>
                                                    <td>탄수화물(mg)</td>
                                                    <td>${carbohydrate}</td>
                                                </tr>
                                                <tr>
                                                    <td>지방(g)</td>
                                                    <td>${fat}</td>
                                                </tr>
                                                <tr>
                                                    <td>콜레스테롤(mg)</td>  
                                                    <td>${cholesterol}</td>
                                                </tr>
                                                <tr>  
                                                    <td>단백질(g)</td>
                                                    <td>${protein}</td>                
                                                </tr>`
                            $('#info_record').append(record_html)
                        }
                    })
                }
            })
        }
    </script>
</head>

<body>
    {% include 'home/side.html' %}
    <div class="barcode_name">바코드 인식 결과</div>
    <div class="barcode_intro">바코드를 인식하고 영양정보를 보여줍니다.</div>
    <div>
        <table class="table">
            <tbody id="info_record">
            </tbody>
        </table>
    </div>
    <div class="save_btn"><a href="{{url_for('home.barcode_record', my_code=my_code)}}" style="text-decoration: none; color: white">저장하기</a></div>
</body>

</html>