<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/home/cam.css"/>
    <title>Live Streaming Demonstration</title>
</head>

<body>
    {% include 'home/side.html '%}
    <div class="cam_name">사진 촬영</div>
    <div class="cam_intro">인식하고 싶은 음식을 촬영합니다.</div>
    <div><img class="video" src="{{ url_for('cam.video_feed') }}" width="100%"></div>
    <div><form style="text-align: center;" method="post" action="{{ url_for('cam.tasks') }}">
        <input type="submit" name="capture" id="capture" value="사진찍기"></input></form><div>
</body>



</html>