<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/home/cam_image.css"/>
    <title>Document</title>
    <!-- camera로 찍은거 확인 -->
</head>
<body>
    {% include 'home/side.html '%}
    <div class="cam_name">사진 촬영</div>
    <div class="cam_intro">인식하고 싶은 음식을 촬영합니다.</div>
    <div><form action="/cam_predict/{{img_name}}" method="post" enctype="multipart/form-data">
        <input type="image" src="static/{{image_path}}" class="cam_img" name="file"/>
    </form></div>
    <div class="cam_btn"><a style="text-decoration: none; color: white;" href="{{ url_for('home.cam_predict', img_name=img_name) }}">인식하기</a></div>
    <div class="cam_btn"><a style="text-decoration: none; color: white;" href="{{ url_for('cam.retry') }}">다시찍기</a></div>
</body>
</html>