<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calorie 4 Diet</title>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap" rel="stylesheet">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
    <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
    
    <style>
        * {
            font-family: 'Sunflower', sans-serif;
        }

        .title {
            text-align: center;
            font-size: 50px;
        }
    </style>
</head>

<body>
    {% include 'home/side.html' %}

    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <button id="button">Take Image</button>
</body>

<script>
    var video = document.getElementById('video');
    // Get access to the camera!
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({
            video: true
        }).then(function (stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
        });
    }
    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function () {
        context.drawImage(video, 0, 0, 640, 480);
        // get image data as string
        // const imageString = canvas.toDataURL();
        // console.log("imageString: ", imageString)
        // send image to server
        // sitename_bytes = base64.b64decode(imageString)
        // sitename = sitename_bytes .decode('ascii')
        // console.log(sitename)

        // var url = imageString.replace(/^data:image\/[^;]+/, 'data:application/octet-stream');
        // window.open(url);
    });

    $(document).ready(function(){
        $("#button").click(function(){
            domtoimage.toBlob(document.getElementById('canvas')).then(function(blob){
                window.saveAs(blob, "camera.jpg")
                window.location.href = "{{url_for('home.upload')}}"
            })
        })
    })
</script>

</html>