<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../static/home/main.css"/>
  <title>메인페이지</title>
</head>

<body onload="date()">
  {% include 'home/side.html' %}

  <div class="main_intro">안녕하세요. {{current_user.name}}님!
      <br>오늘의 섭취 영양정보 입니다.
  </div>
  <div id="main_date" class="main_date"></div>
    {% for nutrition, num in t_nutrition.items() %}
    <p>{{nutrition}}: {{num}}</p>
    <div class="graph stack1">
      {% if nutrition == 'calories' %}
      <span style="width: 100%">{{num}} / 2,500kcal</span> <!-- 남성 권장칼로리 -->
      {% endif %}

      {% if nutrition == 'sodium' %}
      <span style="width: 10%">{{num}} / 2,000mg</span>
      {% endif %}

      {% if nutrition == 'carbohydrate' %}
      <span style="width: 40%">{{num}} / 280mg</span>
      {% endif %}

      {% if nutrition == 'fat' %}
      <span style="width: 2%">{{num}} / 50g</span>
      {% endif %}

      {% if nutrition == 'cholesterol' %}
      <span style="width: 0%">{{num}} / 260mg</span>
      {% endif %}

      {% if nutrition == 'protein' %}
      <span style="width: 50%">{{num}} / 72g</span>
      {% endif %}
    </div>
    {% endfor %}

  <script>
      function date() {
          var today = new Date();
          var week = ["일","월","화","수","목","금","토"];
          document.getElementById("main_date").innerHTML=today.getFullYear()+"."+
              eval(today.getMonth()+1)+"."+today.getDate()+" "+"("+week[today.getDay()]+")";
      }
      
  </script>
</body>

</html>