<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <title>yolo image recognition</title>

  <script>
    $(document).ready(function () {
      showNutrition();
    });

    function showNutrition() {
      $.ajax({
        type: "GET",
        url: "./static/nutrition.json",
        data: {},
        success: function (response) {
          let nutrition = response['nutrition']
          let products = "{{products|safe}}"
          var reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi
          products = products.replace(reg, "")
          products = products.split(" ")
          console.log(products)
          let t_calories = 0, t_sodium = 0, t_carbohydrate = 0, t_fat = 0, t_cholesterol = 0, t_protein = 0
          for (let product of products) {
            nutrition.filter(function (obj) {
              if (obj['name'] === product) {
                // console.log('있음');
                let name = nutrition[obj['id']]['name']
                let calories = nutrition[obj['id']]['calories']
                let sodium = nutrition[obj['id']]['sodium']
                let carbohydrate = nutrition[obj['id']]['carbohydrate']
                let fat = nutrition[obj['id']]['fat']
                let cholesterol = nutrition[obj['id']]['cholesterol']
                let protein = nutrition[obj['id']]['protein']

                let nutrition_html = `<tr>
                                  <td>${name}</td>
                                  <td>${calories}</td>
                                  <td>${sodium}</td>
                                  <td>${carbohydrate}</td>
                                  <td>${fat}</td>
                                  <td>${cholesterol}</td>
                                  <td>${protein}</td>                
                              </tr>`
                $('#info_nutrition').append(nutrition_html)

                t_calories += calories;
                t_sodium += sodium;
                t_carbohydrate += carbohydrate;
                t_fat += fat;
                t_cholesterol += cholesterol;
                t_protein += protein;
              }
            });
          }
          let t_nutrition_html = `<tr>
                            <td>${t_calories}</td>
                            <td>${t_sodium}</td>
                            <td>${t_carbohydrate}</td>
                            <td>${t_fat}</td>
                            <td>${t_cholesterol}</td>
                            <td>${parseFloat(t_protein.toFixed(2))}</td>                
                          </tr>`
          $('#t_info_nutrition').append(t_nutrition_html)
        }
      })
    }
  </script>
</head>

<body>
  <div class="container">
    {% include 'home/side.html' %}

    <div class="row">
      <div class="col-sm">
        <span class="border border-primary">
          <img src="{{ url_for('static', filename = user_image)}}" alt="User Image" width="500" height="600"
            class="img-thumbnail">
        </span>
      </div>

      <div class="col-sm">
        <h1 id="labels">Found this</h1>
        {% for product in products %}
        <h2>{{product}}</h2>
        <form>
          <input type='number' min='0' max='1000' step='10'>
          <input type='submit'>
        </form>
        {% endfor %}
      </div>

      <p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">식품</th>
            <th scope="col">열량(kcal)</th>
            <th scope="col">나트륨(mg)</th>
            <th scope="col">탄수화물(g)</th>
            <th scope="col">지방(g)</th>
            <th scope="col">콜레스테롤(mg)</th>
            <th scope="col">단백질(g)</th>
          </tr>
        </thead>
        <tbody id="info_nutrition">
        </tbody>
      </table>
      </p>
      <br>
      <p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">총 열량(kcal)</th>
            <th scope="col">총 나트륨(mg)</th>
            <th scope="col">총 탄수화물(g)</th>
            <th scope="col">총 지방(g)</th>
            <th scope="col">총 콜레스테롤(mg)</th>
            <th scope="col">총 단백질(g)</th>
          </tr>
        </thead>
        <tbody id="t_info_nutrition">
        </tbody>
      </table>
      </p>
    </div>
  </div>
  <a href="{{url_for('user.record')}}">저장하기</a>
</body>

</html>