<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사이드바</title>
</head>
<body>
    <div class="dropdown">
        <button onclick="dp_menu()" class="button">+</button>
        <div style="display: none;" id="drop-content">
            <a href="{{ url_for('home.main') }}">메인페이지</a>
            <a href="{{ url_for('user.profile') }}">마이페이지</a>
            <a href="{{ url_for('cam.camera') }}">카메라</a>
            <a href="{{ url_for('home.upload') }}">이미지 업로드</a>
            <a href="{{ url_for('home.barcode') }}">바코드</a>
        </div>
    </div>
 
    <script>
        function dp_menu(){
            let click = document.getElementById("drop-content");
            if(click.style.display === "none"){
                click.style.display = "block";
 
            }else{
                click.style.display = "none";
 
            }
        }
    </script>
</body>
</html>