<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../static/home/upload.css"/>
</head>

<body>
  {% include 'home/side.html' %}
  <div class="upload_name">이미지 업로드</div>
  <div class="upload_intro">기존 이미지로 음식들을 인식합니다.</div>
  <div>  
    <form action="/predict" method="post" enctype="multipart/form-data" style="text-align: center; margin-top:20px">
      <div style="margin-bottom: 20px;"><label class="file_btn" for="input-image">업로드</label>
      <input style="display: none;" type="file" id="input-image" name="file"></div>
      <img id="preview-image" src="./static/home/upload_img.png">
      <div><input type="submit" class="upload_check_btn" value="인식하기"></div>
    </form>
  </div>


  <script>
    function readImage(input) {
        // 인풋 태그에 파일이 있는 경우
        if(input.files && input.files[0]) {
            // 이미지 파일인지 검사 (생략)
            // FileReader 인스턴스 생성
            const reader = new FileReader()
            // 이미지가 로드가 된 경우
            reader.onload = e => {
                const previewImage = document.getElementById("preview-image")
                previewImage.src = e.target.result
            }
            // reader가 이미지 읽도록 하기
            reader.readAsDataURL(input.files[0])
        }
    }
    // input file에 change 이벤트 부여
    const inputImage = document.getElementById("input-image")
    inputImage.addEventListener("change", e => {
        readImage(e.target)
    })
  </script>
</body>

</html>
