body {
    background-image: url('main_wave.png');
    background-color: #f4f5fa;
    background-repeat: no-repeat;
}

.main_intro {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.main_date {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.graph {
    height: 25px;
    margin: 0 0 20px;
    background: rgba(204, 204, 204, 0.3);
    border-radius: 40px;
}

.graph span {
    display: block;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    text-align: right;
    border-radius: 40px;
    box-sizing: border-box;
    color: #f4f5fa;
}

.graph.stack1 span {
    background-color: violet;
    animation: stack1 2s 1;
}

.graph.stack2 span {
    background-color: skyblue;
    animation: stack2 2s 1;
}

.graph.stack3 span {
    background-color: orange;
    animation: stack3 2s 1;
}

@keyframes stack1 {
    0% {width: 0; color: rgba(255, 255, 255, 0);}
    40% {color: rgba(255, 255, 255, 0);}
    /* 100% {width: 75%;} */
}

@keyframes stack2 {
    0% {width: 0; color: rgba(255, 255, 255, 0);}
    40% {color: rgba(255, 255, 255, 0);}
    100% {width: 60%;}
}

@keyframes stack3 {
    0% {width: 0; color: rgba(255, 255, 255, 0);}
    40% {color: rgba(255, 255, 255, 0);}
    100% {width: 25%;}
}
