body {
    background-image: url('main_wave.png');
    background-color: #f4f5fa;
}

.main_intro {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.main_date {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.graph {
    height: 40px;
    background: #ccc;
    border-radius: 40px;
}
