.header {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
button {
    position:fixed;
    right: 5%;
    bottom: 3%;
    background: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #6bc57d;
    /* border: 3px solid #fff; */
    /* box-shadow: 0px 0px 5px 5px #fff; */
    box-shadow: 0px 0px 20px #fff;
    font-size: 50px;
    color: white;
}

.drop_content {
    position: fixed;
    right: 4%;
    bottom: 2%;
    display:none;
    width: 50%;
    height: 55%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.menu_content {
    background-color: #6bc57d;
    padding: 5px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


.side_button::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}
  
.side_button:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
  