body {
    background-image: url('main_wave.png');
    background-color: #f4f5fa;
    background-repeat: no-repeat;
}

.upload_name {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.upload_intro {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.file_btn {
    font-size: 20px;
    font-weight: bold;
    padding: 7px 30px;
    background-color:#6bc57d;
    border-radius: 5px;
    color: white;
}

#preview-image {
    width: 100%;
}

.upload_check_btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #6bc57d;
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    margin-top: 20px;
}
