<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/home/cam_predict.css" />
    <title>record</title>

    <style>
        a {
            text-decoration-line: none;
        }

        .time-record {
            width: 100%;
            background-color: #EAEAEA;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #browsers {
            font-size: 15px;
            width: 30%;
            height: 30px;
        }

        .record_date {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 3px;
        }
    </style>
</head>

<body>
    {% include 'home/side.html' %}
    <div class="cam_predict_name">식단 기록</div>
    <div class="cam_predict_intro">인식했던 식단의 기록을 봅니다.</div>
    <div class="record_date">{{date}}</div>

    <div class="select_date" style="text-align: center;">
        <select onchange="location=this.value;" id="browsers" name="browsers">
            <option>날짜 선택</option>
            {% for date in dates %}
                <option value="{{url_for('user.day_record', date=date)}}">{{date}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="text-align: center; padding: 20px;">
        {% for record in record_list[::-1] %}
        <div>
        <a href="{{url_for('user.food_record', record_id=record.id)}}" style="color:black; font-size: 18px;">
            <div class="time-record">
            <div style="font-size: 15px;">{{record.date}}</div>
            {% for id, name in record_list_food.items() %}
            {% if id==record.id %}
                <div style="font-size: 20px; font-weight: bold;">
                {% for food_name in name %}
                {{food_name}}
                <br>
                {% endfor %}
                </div>
            {% endif %}
            {% endfor %}
        </div></a>

        {% endfor %}
    </div>
</body>

</html>