<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>record</title>
</head>

<body>
    {% include 'home/side.html' %}

    {% for date in dates %}
        <a href="{{url_for('user.day_record', date=date)}}">{{date}}</a>
    {% endfor %}
    <br>
    {% for record in record_list[::-1] %}
        <a href="{{url_for('user.food_record', record_id=record.id)}}">{{record.id}}</a>
        {{record.date}}
        <br>
    {% endfor %}
</body>

</html>